<link href="font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer class='footer'>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter">Informations</div>
        <p>Coordonnées</p>
        <p><i class="fa fa-phone"></i>Phone : 01 01 02 02 03</p>
        <p><i class="fa fa-envelope"></i>E-mail : pierre_rossignol@yahoo.fr</p>
        
      </div>
      <div class="col-md-4 col-sm-6 paddingtop-bottom">
        <h6 class="logofooter">Des services en pagaille !</h6>
        <ul class="footer-ul">
          <li><a href="#">Une grande quantité de services différents</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 paddingtop-bottom">
        <h6 class="logofooter">La communauté</h6>
        <div class="post">
          <p>1<span>Une communauté des plus actives</span></p>
        </div>
      </div>
    </div>
  </div>
  
    <div class="copyright">
      <div class="container">
        <div class="col-md-6">
          <p>© 2016 - All Rights with Webenlance</p>
        </div>
        <div class="col-md-6">
          <ul class="bottom_ul">
            <li><a href="#">avotreservice.com</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Nous contacter</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
