<div class='row'>
  <h1>Bienvenue sur AVotreService</h1>
 <div class="jumbotron text-center">
  <h1>AVotreService</h1>
  <p>Le site de troc de services !</p>
  </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <center><img src="http://economies.mr-bricolage.fr/wp-content/uploads/2014/05/poign%C3%A9e-de-main.jpg" alt="1"></center>
    </div>
    <div class="item">
      <img src="http://www.communique-de-presse-gratuit.com/wp-content/uploads/pour-partenaires2.jpg" alt="2">
    </div>
    <div class="item">
      <img src="http://www.topdemenageurs.fr/wp-content/uploads/2012/02/demenagement-eco.jpg" alt="3">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="jumbotron">
      <h3><b>Cherchez le service dont vous avez besoin !</b></h3>
      <li>Baby-sitting</li>
      <li>Nettoyage</li>
      <li>Transport</li>
      <p>...</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron">
      <h3><b>Proposez vos compétences pour les mettre à profit dans des services que vous créez !</b></h3>
      <li>Nombre de personnes</li>
      <li>Durée du service</li>
      <p>...</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron">
      <h3><b>Profitez d'un compte prenium pour seulement 5,99€ !</b></h3>
      <li>Nombre de services mensuels illimités</li>
      <li>Support technique 24h/24h</li>
      <p>...</p>
      </div>
    </div>
  </div>
</div>
