<h1>Bienvenue sur AVotreService</h1>
 <div class="jumbotron text-center">
  <h1>AVotreService</h1>
  <p>Le site de troc de services !</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="jumbotron">
      <h3><b>Cherchez le service dont vous avez besoin !</b></h3>
      <li>Baby-sitting</li>
      <li>Nettoyage</li>
      <li>Transport</li>
      <p>...</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron">
      <h3><b>Proposez vos compétences pour les mettre à profit dans des services que vous créez !</b></h3>
      <li>Nombre de personnes</li>
      <li>Durée du service</li>
      <p>...</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="jumbotron">
      <h3><b>Profitez d'un compte prenium pour seulement 5,99€ !</b></h3>
      <li>Nombre de services mensuels illimités</li>
      <li>Support technique 24h/24h</li>
      <p>...</p>
      </div>
    </div>
  </div>
</div>