// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.name
{
    font-weight: bold;
    text-align: center;
}

.participant_name
{
     	color:#00008B;
}

.paragraph
{
    background-color:#00FFFF;
    border: 3px red solid;
}
